.privacy__left{
text-align:left;
padding-top:50px;
padding-bottom:50px;
}
.privacy__left h5{
margin-top:20px;
font-size: 25px;
}

.privacy__left p{
    margin-top:20px;
}
.privacy__left p:nth-child(1){
    margin-top:0px;
}

